.block1{
    display: flex;
    margin-top: 20px;
    margin-left: 120px;
    h2{
        width: 550px;
        margin-top: 240px;
        color: rgba(25, 68, 132, 1);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-size: 40px;
        margin-right: 10px;
    }
}
.block2{
        display: flex;
        margin-left: 120px;
        .block3{
            margin-right: 120px;
        }
        h3{
            color: rgba(13, 110, 183, 1);
            margin-bottom: 16px;
        }
        p{
            width: 500px;
            height: 200px;
            color: #242424;
            font-size: 14px;
        }

}
